.fundo{
    width: 100%;
    height: auto;
    background:linear-gradient(96.79deg, rgba(72, 98, 136, 0.6) 0.75%,
    rgba(72, 98, 136, 0.6) 0.76%, rgba(152, 51, 108, 0.6) 100%)
    ,
    url("/fundo.png") no-repeat;
    background-size: 100% 100%;
    min-height: 70vh;
}



.perfil{
    
    border-radius: 100px;
    border: 3px solid #486288;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.titulo{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.redesocial{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 84px;
    display: flex;
    gap: 84px;
}

